body {
  font-size: 5vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 4vw;
  line-height: 1;
  position: fixed;
  inset: 0;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

main img {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
  margin: 2.5vw;
}

#register {
  position: fixed;
  z-index: 10;
}

#register img {
  display: block;
  height: 33vw;
  width: 33vw;
  object-fit: contain;
}

@media (max-width: 768px) {
  #register img {
    height: 66vw;
    width: 66vw;
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  padding: 2.5vw;
}

.marquee-content {
  display: inline-block;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-left .marquee-content {
  animation-name: scroll-left;
}

.marquee-right .marquee-content {
  animation-name: scroll-right;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
